html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

@media screen and (min-width: 360px) {
  .wrapper .background .header {
    position: relative;
    z-index: 10;
  }
  .wrapper .background .header .header__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    background: rgba(245, 245, 250, 0.2);
  }
  .wrapper .background .header .header__section .language__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 35%;
    padding: 3%;
  }
  .wrapper .background .header .header__section .language__menu .language__item {
    padding: 5%;
    border-radius: 8px;
    font-size: 0.75rem;
    color: #fff;
  }
  .wrapper .background .header .header__section .language__menu .language__item:last-of-type {
    background: #f0145a;
  }
  .wrapper .background .header .header__section .header__contact {
    width: 65%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapper .background .header .header__section .header__contact span {
    font-size: 1rem;
    color: #fff;
    margin-right: 7%;
  }
  .wrapper .background .header .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .wrapper .background .header .header__menu .logo__wrapper .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 8.3% 7.3% 0 7.3%;
  }
  .wrapper .background .header .header__menu .logo__wrapper .logo p {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
  }
  .wrapper .background .header .header__menu .logo__wrapper .logo p:first-of-type {
    color: #f0145a;
  }
  .wrapper .background .header .header__menu .logo__wrapper .logo p:last-of-type {
    color: #f0145a;
    margin: 0 2%;
    font-size: 1.7rem;
  }
  .wrapper .background .header .header__menu .logo__wrapper .logo .logo__item {
    margin: 2% 1.2%;
    font-size: 1.3rem;
    color: #fff;
    font-weight: 400;
  }
  .wrapper .background .header .header__menu .logo__wrapper .logo__titel {
    margin: 1% 8.9%;
    font-size: 0.3rem;
    letter-spacing: 0.195rem;
    font-weight: 600;
    color: #fff;
  }
  .wrapper .background .header #check__menu {
    display: none;
  }
  .wrapper .background .header #check__menu:checked ~ .nav {
    display: table;
  }
  .wrapper .background .header #check__menu:checked ~ label span {
    display: none;
  }
  .wrapper .background .header #check__menu:checked ~ label .header__burger::before {
    top: 8px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    background-color: #ec6f5d;
  }
  .wrapper .background .header #check__menu:checked ~ label .header__burger::after {
    bottom: 10px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    background-color: #ec6f5d;
  }
  .wrapper .background .header .header__burger {
    position: relative;
    top: -28px;
    left: 89%;
    display: block;
    width: 18px;
    height: 20px;
    z-index: 560;
    cursor: pointer;
  }
  .wrapper .background .header .header__burger span {
    position: absolute;
    padding: 2%;
    top: 6px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  .wrapper .background .header .header__burger::before, .wrapper .background .header .header__burger::after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  .wrapper .background .header .header__burger::before {
    top: 0;
  }
  .wrapper .background .header .header__burger::after {
    bottom: 6px;
  }
  .wrapper .background .header .nav {
    display: none;
    position: absolute;
    top: 45px;
    width: 95%;
    z-index: 555;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 2.5%;
    background: #fff;
    border-radius: 12px 12px 0px 0px;
  }
  .wrapper .background .header .nav .nav__item {
    width: 93%;
    margin-left: 3.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #F5F5FA;
    border-radius: 12px;
    padding: 2%;
    margin-bottom: 4%;
  }
  .wrapper .background .header .nav .nav__item:first-of-type {
    margin-top: 63px;
  }
  .wrapper .background .header .nav .nav__link {
    font-size: 1.5rem;
    line-height: 1.8125rem;
    font-weight: bold;
    color: #24a3ff;
  }
  .wrapper .background .header .nav .nav__link:active {
    color: #f0145a;
  }
  .wrapper .background .header .nav .nav__link:hover::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

@media screen and (min-width: 360px) {
  .wrapper {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
  .wrapper .background {
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    border-radius: 0 0 10px 10px;
  }
  .wrapper .background .decoration__element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  .wrapper .background .decoration__element .unit__first {
    width: 74%;
    position: absolute;
    top: 0;
    left: -22%;
  }
  .wrapper .background .decoration__element .unit__last {
    width: 74%;
    position: absolute;
    top: 260px;
    left: 20.8%;
  }
  .wrapper .background .section {
    position: relative;
    width: 100%;
    z-index: 8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrapper .background .section .main__titel {
    width: 70%;
    margin: 118px 0;
    font-size: 2.375rem;
    font-weight: 700;
    line-height: 2.875rem;
    text-align: center;
    color: #fff;
  }
  .wrapper .background .section .fa-angle-down {
    margin-top: 413px;
    position: absolute;
    font-size: 2rem;
    padding: 1% 2.5%;
    color: white;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
  }
  .wrapper .background .section__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 85%;
    margin-left: 7.5%;
  }
  .wrapper .background .section__description .specifications {
    margin-top: 140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-bottom: solid 4px rgba(255, 255, 255, 0.3);
  }
  .wrapper .background .section__description .specifications .specifications__item {
    color: #b3b3ba;
    font-size: 1.875rem;
    line-height: 2.31rem;
    font-weight: bold;
  }
  .wrapper .background .section__description .specifications .specifications__item:first-of-type {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  }
  .wrapper .background .section__description .specifications .specifications__item:last-of-type {
    margin-bottom: 33px;
  }
  .wrapper .background .section__description .section__titel {
    margin-top: 27px;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: #fff;
  }
  .wrapper .background .section__description .section__text {
    margin-top: 32px;
    font-size: 1.18rem;
    line-height: 1.87rem;
    font-weight: normal;
    color: #fff;
  }
  .wrapper .background .section__description a {
    margin-top: 30px;
    font-weight: bold;
    font-size: 0.87rem;
    line-height: 1.06rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #24A3FF;
  }
  .wrapper .background .section__description a .fa {
    font-size: 0.76rem;
  }
  .wrapper .background .section__description h4 {
    margin-top: 10px;
    font-size: 1.875rem;
    line-height: 2.31rem;
    font-weight: bold;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  }
  .wrapper .background .section__description .box__description {
    margin-top: 30px;
  }
  .wrapper .background .section__description .box__description .description__titel {
    margin-top: 25px;
    font-weight: bold;
    font-size: 1.375rem;
    line-height: 1.68rem;
    color: #24A3FF;
  }
  .wrapper .background .section__description .box__description .description__text {
    margin-top: 19px;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.625rem;
    color: #fff;
  }
  .wrapper .section__person {
    width: 85%;
    margin-left: 7.5%;
  }
  .wrapper .section__person .carousel .carousel-indicators button {
    margin: 8px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #24a3ff;
  }
  .wrapper .section__person .carousel .carousel-inner {
    height: 1218px;
  }
  .wrapper .section__person .carousel .carousel-inner .carousel-item {
    background: #f5f5fa;
    border-radius: 10px;
    margin-top: 51px;
  }
  .wrapper .section__person .carousel .carousel-inner .carousel-item .box__person {
    width: 80%;
    margin-left: 10%;
    margin-top: 25px;
  }
  .wrapper .section__person .carousel .carousel-inner .carousel-item .box__person .chapter a {
    font-size: 0.875rem;
    line-height: 1.0625rem;
    letter-spacing: 1px;
    font-style: normal;
    text-align: left;
    text-transform: uppercase;
    color: #24A3FF;
  }
  .wrapper .section__person .carousel .carousel-inner .carousel-item .box__person .person__desription {
    font-weight: bold;
    font-size: 1.87rem;
    line-height: 2.3125rem;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  }
  .wrapper .section__person .carousel .carousel-inner .carousel-item .box__person .person__name {
    margin-top: 33px;
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #B3B3BA;
  }
  .wrapper .section__person .carousel .carousel-inner .carousel-item .box__person .person__specifics {
    margin-bottom: 30px;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #B3B3BA;
  }
  .wrapper .section__partner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapper .section__partner h2 {
    margin: 28px 0;
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 1.06rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #323264;
  }
  .wrapper .section__publication {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #F5F5FA;
    padding-bottom: 34px;
  }
  .wrapper .section__publication a {
    width: 85%;
    margin-top: 30px;
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
    color: #24A3FF;
  }
  .wrapper .section__publication h2 {
    width: 85%;
    margin-top: 5px;
    font-weight: bold;
    font-size: 1.875rem;
    line-height: 2.3125rem;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  }
  .wrapper .section__publication .publication {
    width: 85%;
    margin-top: 30px;
    background: #FFFFFF;
    border-radius: 10px;
  }
  .wrapper .section__publication .publication h3 {
    width: 80%;
    margin-left: 30px;
    margin-top: 27px;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #24A3FF;
  }
  .wrapper .section__publication .publication h4 {
    width: 80%;
    margin: 15px 30px;
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
    color: #B3B3BA;
    border-bottom: 4px solid #E6E6F0;
  }
  .wrapper .section__publication .publication p {
    width: 80%;
    margin-left: 30px;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #000000;
    margin-bottom: 28px;
  }
  .wrapper .footer__wrapper {
    background: #F5F5FA;
  }
  .wrapper .footer__wrapper .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
    margin-left: 10%;
    padding-top: 30px;
    border-top: 2px solid #E6E6F0;
  }
  .wrapper .footer__wrapper .footer .location__contact {
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.25rem;
  }
  .wrapper .footer__wrapper .footer .map__link {
    margin-top: 10px;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
    color: #24A3FF;
  }
  .wrapper .footer__wrapper .footer .social__networking {
    margin-top: 20px;
  }
  .wrapper .footer__wrapper .footer .contact__number {
    margin-top: 10px;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #46466E;
  }
  .wrapper .footer__wrapper .footer .contact__mail {
    margin-top: 10px;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #24A3FF;
  }
  .wrapper .footer__wrapper .footer .copyright {
    margin-top: 30px;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #B3B3BA;
  }
}
/*# sourceMappingURL=style.css.map */